{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('main.index') }}">Introduction</a></li>
        <li class='active'><a href="#">Dictionary<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Others</a></li>
    </ul>
</div>
<div class="col-md-offset-3 main">
    <div class="col-md-3">
        {{ wtf.quick_form(form) }}
        <br>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>entry name</th>
                <th>entry_type</th>
                <th>pronunciation</th>
                <th>last_modified</th>
                <th>last_editor</th>
            <tr>
            </thead>
            <tbody>
            {% for entry in query %}
            <tr>
                <td>{{ entry.entry_name }}</td>
                <td>{{ entry.entry_type }}</td>
                <td>{{ entry.pronunciation }}</td>
                <td>{{ entry.last_modified }}</td>
                <td>{{ entry.last_editor }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}