{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function(){
        var def_num = 0;
        $("button.edit-entry").click(function(){
            if (this.id == 'new')
                {$("h2.modal-title").text("Create a new entry");
            $("input#entry_name").val("").removeAttr('readonly','readonly');
            $("select#edit_entry_type").val("");
            $("input#pronunciation").val("");}
            else
                {$("h2.modal-title").text("Edit an entry");
                    var entryName = this.value;
                    $.ajax({type: "POST",
                        url:"{{ url_for('main.edit_entry') }}",
                        data:JSON.stringify({entry_name:entryName}),
                        dataType: "json",
                        contentType:"application/json; charset=utf-8",
                        success:function(data){
                            var json = JSON.parse(data);
                            $("input#entry_name").val(json.entry_name).attr('readonly','readonly');
                            $("select#edit_entry_type").val(json.entry_type);
                            $("input#pronunciation").val(json.pronunciation);}
                        });
                }
            });
        $('button.edit-def').click(function(){
            def_num = def_num + 1;
            var definition = {% from "definition_form.html" import add_def %}{{ add_def(edit_def_form, def_num)|tojson|safe }}
            $("div#modal-form-container").append(definition);
            $("h3#num-title").text("Definition No." + def_num);

        });
    });
</script>
{% endblock scripts %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('main.index') }}">Introduction</a></li>
                <li class='active'><a href="#">Dictionary<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Others</a></li>
            </ul>
        </div>
        <div class="col-md-offset-1 main">
            <h1 class="page-header">Dictionary Dashboard</h1>
            <div class="row">
                <div class="col-md-10" id="show-entries-form">
                    <form class="form form-inline" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                        {{ wtf.form_field(form.last_modified_from) }}
                        {{ wtf.form_field(form.last_modified_to) }}
                        {{ wtf.form_field(form.entry_type) }}
                        {{ wtf.form_field(form.submit,class="btn btn-primary") }}
                        <br>
                    </form>
                </div>
                <button id="new" type="button" class="btn btn-primary edit-entry" data-toggle="modal"
                data-target="#edit-modal">add a new entry
            </button>
        </div>
        <br>
        <div class="row">
            <h2 class="sub-header">Query results:</h2>
            <div class="table-responsive" id="entries-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>entry name</th>
                            <th>entry_type</th>
                            <th>pronunciation</th>
                            <th>num of definitions</th>
                            <th>last_modified</th>
                            <th>last_editor</th>
                            <th>edit</th>
                            <tr>
                            </thead>
                            <tbody>
                                {% for entry in query %}
                                <tr>
                                    <td>{{ entry.entry_name }}</td>
                                    <td>{{ entry_type_dict[entry.entry_type] }}</td>
                                    <td>{{ entry.pronunciation }}</td>
                                    <td>{{ entry.definition|length }}</td>
                                    <td>{{ entry.last_modified }}</td>
                                    <td>{{ entry.last_editor }}</td>
                                    <td>
                                        <button id="edit" value="{{entry.entry_name}}" type="button"
                                        class="btn btn-primary edit-entry"
                                        data-toggle="modal"
                                        data-target="#edit-modal">Edit
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div id="edit-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit an entry</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-form-container" class="col-md-10" >
                    <form id="edit-entry-form" class="form" method="post" role="form">
                        {{ edit_entry_form.hidden_tag() }}
                        {{ wtf.form_errors(edit_entry_form, hiddens="only") }}
                        {{ wtf.form_field(edit_entry_form.entry_name) }}
                        {{ wtf.form_field(edit_entry_form.entry_type, id="edit_entry_type") }}
                        {{ wtf.form_field(edit_entry_form.pronunciation) }}
                        <br>
                    </form>
                </div>
                <button id="test" type="button" class="btn btn-primary edit-def">Add a definition</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}