{% extends "base.html" %}
{% block title %}Gasha - Index{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock navbar %}
{% block content %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Introduction<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
</div>
<div class="col-md-offset-3 main">
    <br>
    <h1>Introduction</h1>
    <p class="lead">Gasha is an editable dict app project for endangered languages.
        Our goal is to rebuild modern dictionaries for specific endangered language to majority languages such as
        English, Russian, Chinese, Japanese ... etc.
    </p>
</div>
{% endblock %}